.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200vh;
  background-color: rgb(160, 213, 213);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.post {
  width: 700px;
  position: relative;
  margin-top: 3%;
  background-color: azure;
}
.post-title {
  font-size: 30px;
  color: rgb(119, 0, 222);
  margin-left: 20px;
  margin-bottom: 10px;
}

.post-body {
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin-left: 20px;
}

.comment-name {
  color: rgb(164, 164, 171);
}

.comment-body {
  color: rgb(0, 0, 0);
}

.user {
  width: 400px;
  position: relative;
  margin-top: 3%;
  background-color: azure;
  align-items: flex;
}
.user-rightside {
  margin-left: 70px;
}
.user-leftside {
}
.user-name {
  font-size: 25px;
}
.user-username {
  font-size: 30px;
}
.user-email {
  font-size: 25px;
}

.button {
}

.icon {
  position: relative;
}

.comment {
  width: 600px;
  background-color: white;
  margin-top: 30px;
  margin-left: 72px;
  border-radius: 25px;
  border: 2px solid #393c8f;
}
h2 {
  margin-left: 20px;
}
h4 {
  margin-left: 70px;
}
.comment-name {
  font-size: 20px;
  margin-left: 10px;
}

.comment-body {
  font-size: 17px;
  margin-left: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="text"]:last-child {
  height: 20%;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
